.menu{
    font-size: 2rem;
    margin-top:2rem;
}
.active {
    background-color:red !important;
    color: bisque !important;
}
.menu a{
    width:3rem;
    height:1.5rem;
    background-color:bisque;
    color: black;
    margin:1rem;
    padding:0.5rem;
    text-decoration: none;
}
.detail{
    color:red;
}
